body {
	background-image: url(../images/background.jpg);
	align-content: center;
}

.panel {
	color: teal;
	background-color: rgb(80, 78, 85);
}

p {
	color: rgb(10, 43, 43);
	font-weight: bold;
	font-size: 1em;
}